services:

  jenkins:
    # image: jenkins/jenkins:2.346.3-lts-jdk8
    image: jenkins/jenkins:2.440.2
    #restart: always
    privileged: true
    container_name: jenkins
    ports:
      - 8000:8080
      - 50000:50000
    volumes:
      - /etc/localtime:/etc/localtime
      # chown -R 1000 
      - /Users/caoping/www/docker/docker-file/base/jenkins:/var/jenkins_home
      # 传入maven包jdk包
      - /Users/caoping/bin/apache-maven-3.6.3:/usr/local/maven
      - /Users/caoping/bin/jdk1.8.0_381:/usr/local/java
      - /usr/bin/git:/usr/local/git
      # 在容器中使用宿主机的docker
      - /usr/bin/docker:/usr/bin/docker
      # 注意要在jenkins容器中开放权限
      - /var/run/docker.sock:/var/run/docker.sock

    environment:
      - TZ=Asia/Shanghai

  skywalking-oap:
    image: apache/skywalking-oap-server:9.5.0
    container_name: skywalking-oap
    privileged: true
    networks:
      - skywalking
      - es_net
    ports:
      - 11800:11800
      - 12800:12800
    environment:
      SW_STORAGE: elasticsearch
      SW_STORAGE_ES_CLUSTER_NODES: elasticsearch:9200
      SW_ES_USER: elastic
      SW_ES_PASSWORD: elastic123 # tips: 密码不能为纯数字，启动会出问题
      TZ: Asia/Shanghai
  
  skywalking-ui:
    image: apache/skywalking-ui:9.5.0
    container_name: skywalking-ui
    privileged: true
    networks:
      - skywalking
    depends_on:
      - skywalking-oap
    ports:
      - 8049:8080
    environment:
      SW_OAP_ADDRESS: http://skywalking-oap:12800
      TZ: Asia/Shanghai

  hertzbeat:
    image: apache/hertzbeat:v1.6.1
    container_name: hertzbeat
    volumes:
      - /Users/caoping/www/docker/docker-file/basic/hertzbeat/data:/opt/hertzbeat/data
      - /Users/caoping/www/docker/docker-file/basic/hertzbeat/logs:/opt/hertzbeat/logs
      - /Users/caoping/www/docker/docker-file/basic/hertzbeat/ext-lib:/opt/hertzbeat/ext-lib
      - /Users/caoping/www/docker/docker-file/basic/hertzbeat/application.yml:/opt/hertzbeat/config/application.yml
      - /Users/caoping/www/docker/docker-file/basic/hertzbeat/sureness.yml:/opt/hertzbeat/config/sureness.yml
    ports:
      - "1157:1157"
      - "1158:1158"
  
  hertzbeat-collector:
    image: apache/hertzbeat-collector:v1.6.1
    container_name: hertzbeat-collector
    environment:
      IDENTITY: custom-collector-name
      MANAGER_HOST: 127.0.0.1
      MANAGER_PORT: 1158


  vm:
    image: victoriametrics/victoria-metrics:v1.95.1
    container_name: vm
    ports:
      - "8428:8428" # VictoriaMetrics HTTP API
      - "8429:8429" # VictoriaMetrics GraphQL
    environment:
      - HTTP_AUTH_USERNAME=admin
      - HTTP_AUTH_PASSWORD=admin123
    volumes:
      - /Users/caoping/www/docker/docker-file/basic/victoria-metrics-data:/victoria-metrics-data
    command:
      - "-storageDataPath=/victoria-metrics-data"
      - "-httpAuth.username=admin"
      - "-httpAuth.password=admin123"


  seata: 
    image: seataio/seata-server:1.7.1
    container_name: seata
    networks:
      - mysql_net
      - nacos_net
    volumes:
      - "/Users/caoping/www/docker/docker-file/basic/seata/logs:/root/logs"
      - "/Users/caoping/www/docker/docker-file/basic/seata/resources/application.yml:/seata-server/resources/application.yml"
    environment:
      TZ: Asia/Shanghai
      LANG: en_US.UTF-8
      # 注册到nacos上的ip。客户端将通过该ip访问seata服务。
      # 注意公网ip和内网ip的差异。
      SEATA_IP: 127.0.0.1
      # 指定seata服务启动端口
      SEATA_PORT: 8091
#      STORE_MODE: file # 指定seata-server的事务日志存储方式, 支持db ,file,redis(Seata-Server 1.3及以上版本支持), 默认是 file
#      SERVER_NODE: 1 # 指定seata-server节点ID, 如 1,2,3..., 默认为 根据ip生成
#      SEATA_ENV: dev # 指定 seata-server 运行环境, 如 dev, test 等, 服务启动时会使用 registry-dev.conf 这样的配置
      # 指定配置文件位置, 如 file:/root/registry, 将会加载 /root/registry.conf 作为配置文件，
      # 如果需要同时指定 file.conf文件，需要将registry.conf的config.file.name的值改为类似file:/root/file.conf：
#      SEATA_CONFIG_NAME: file:/root/seata-config/registry
    ports:
      - "7091:7091"
      - "8091:8091"

  sentinel:
    image: bladex/sentinel-dashboard:1.8.8
    container_name: sentinel
    ports:
      - "8858:8858"
    environment:
      TZ: Asia/Shanghai
      JAVA_OPTS: "-Dserver.port=8858 -Dcsp.sentinel.dashboard.server=localhost:8858 -Dproject.name=sentinel-dashboard"
    volumes:
      - /Users/caoping/www/docker/docker-file/basic/sentinel/logs:/root/logs


  canal:
    image: canal/canal-server:v1.1.8
    container_name: canal
    ports:
      - "11111:11111"
    environment:
      TZ: Asia/Shanghai
    volumes:
      - /Users/caoping/www/docker/docker-file/basic/canal/conf/:/opt/canal/conf/


  manticore:
    image: manticoresearch/manticore
    container_name: manticore
    privileged: true
    # restart: always
    ports:
      - "9306:9306"
      - "9308:9308"
    environment:
      EXTRA: 1
      TZ: Asia/Shanghai
    ulimits:
      nproc: 65535
      nofile:
         soft: 65535
         hard: 65535
      memlock:
        soft: -1
        hard: -1
    volumes:
      - /Users/caoping/www/docker/docker-file/basic/manticore/data:/var/lib/manticore
      - /Users/caoping/www/docker/docker-file/basic/manticore/config/manticore.conf:/etc/manticoresearch/manticore.conf
      - /Users/caoping/www/docker/docker-file/basic/manticore/config/manticore_users:/etc/manticoresearch/manticore_users
      - /Users/caoping/www/docker/docker-file/basic/manticore/log:/var/log/manticore


  xxljob:
    image: xuxueli/xxl-job-admin:2.4.1
    container_name: xxljob
    privileged: true
    networks:
      mysql_net:
        ipv4_address: 172.19.0.5
    ports:
      - 9003:8080
    volumes:
      - /Users/caoping/www/docker/docker-file/basic/xxl-job/logs:/data/applogs
    environment:
      PARAMS: "--spring.datasource.url=jdbc:mysql://mysql:3306/xxl_job?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF8&zeroDateTimeBehavior=convertToNull&useSSL=false
                   --spring.datasource.username=root
                   --spring.datasource.password=123456
                   --server.servlet.context-path=/xxl-job-admin
                   --spring.mail.host=smtp.qq.com
                   --spring.mail.port=25
                   --spring.mail.username=2363793816@qq.com
                   --spring.mail.from=2363793816@qq.com
                   --spring.mail.password=xxx
                   --xxl.job.accessToken="


  snailjob:
    image: opensnail/snail-job:1.2.0
    container_name: snailjob
    privileged: true
    networks:
      - mysql_net
    ports:
      - 1788:1788
      - 8040:8080
    volumes:
      - /Users/caoping/www/docker/docker-file/basic/sanil-job/logs:/data/log
    environment:
      JAVA_OPTS: "-Xmx512m"
      PARAMS: "--spring.datasource.username=root 
                  --spring.datasource.password=123456  
                  --spring.datasource.url=jdbc:mysql://172.19.0.4:3306/snail_job?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai 
                  --spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver"


networks:
  mysql_net:
    name: app_net
    external: true
  es_net:
    name: elkf8_es8_net
    external: true
  nacos_net:
    name: base_tools
    external: true
  skywalking:
    driver: bridge
